[submodule "external/JUCE"]
	path = external/JUCE
	url = https://github.com/juce-framework/JUCE.git
[submodule "external/Catch2"]
	path = external/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "external/clap"]
	path = external/clap
	url = https://github.com/free-audio/clap.git
[submodule "external/lv2"]
	path = external/lv2
	url = https://github.com/lv2/lv2.git
[submodule "external/clap-juce-extensions"]
	path = external/clap-juce-extensions
	url = https://github.com/free-audio/clap-juce-extensions.git
